[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[plugins]
root = plugins
include =
    handlers.message

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[bots]
avatar_id = [DATA EXPUNGED]
captcha_id = [DATA EXPUNGED]
clean_id = [DATA EXPUNGED]
lang_id = [DATA EXPUNGED]
long_id = [DATA EXPUNGED]
noflood_id = [DATA EXPUNGED]
noporn_id = [DATA EXPUNGED]
nospam_id = [DATA EXPUNGED]
recheck_id = 1
tip_id = [DATA EXPUNGED]
user_id = [DATA EXPUNGED]
warn_id = [DATA EXPUNGED]

[channels]
debug_channel_id = [DATA EXPUNGED]
hide_channel_id = [DATA EXPUNGED]
watch_channel_id = [DATA EXPUNGED]

[custom]
aio = False
backup = False
date_reset = 1st mon
image_size = 2097152
invalid = admin admins BotFather gamebot gif SpamBot Stickers telegram vote
lang_bio = fa
lang_name = fa ur ar
lang_protect = en zh
lang_sticker = fa ar am
lang_text = fa ur ar am bn bg
limit_ban = 5
limit_delete = 5
project_link = https://scp-079.org/watch/
project_name = SCP-079-WATCH
time_ban = 10800
time_delete = 7200
time_forgive = 21600
time_new = 172800
zh_cn = True

[emoji]
emoji_ad_single = 15
emoji_ad_total = 30
emoji_many = 15
emoji_protect = \U0001F642
emoji_wb_single = 10
emoji_wb_total = 15

[encrypt]
key = [DATA EXPUNGED]
password = [DATA EXPUNGED]
