APScheduler==3.6.3
async-lru==1.0.2
cffi==1.14.2
click==7.1.2
cryptography==3.1
emoji==0.6.0
guess-language-spirit==0.5.3
joblib==0.16.0
langdetect==1.0.8
nltk==3.5
OpenCC==1.1.1.post1
Pillow==7.2.0
pyaes==1.6.1
pyAesCrypt==0.4.3
pycparser==2.20
Pyrogram==1.0.6
PySocks==1.7.1
pytesseract==0.3.5
pytz==2020.1
pyzbar==0.1.8
regex==2020.7.14
six==1.15.0
textblob==0.15.3
tqdm==4.48.2
tzlocal==2.1
